.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }

  table.codes{
    padding: 0; 
    margin: 0; 
    border-collapse: collapse;
  }

  table.codes tr{
    padding: 0; 
    margin: 0;
  }

  table.codes td{
    padding: 0; 
    margin: 0;
    width: 150px; 
  }